---
layout: default
---
<main>
    <section>
        cd /
    </section>
    <section>
        ls -l /
    </section>
    <section>
        <table class="main-ls">
    {% for post in paginator.posts %}
        <tr>
            <td> -r-------- root root </td> <td class="text-align-right">{{post.title | size}}K </td><td>{{ post.date | date: "%b %d %H:%M"}} </td><td> <a href="{{ post.url }}">{{post.title | replace:' ','_' | downcase}}.sh</a></td>
        </tr>
    {% endfor %}
        </table>
    </section>
    <hr />
    head -n 1 /*
    {% for post in paginator.posts %}
    <section>
        <head>
            <a href="{{ post.url }}">cat /{{ post.title | replace:' ','_' | downcase }}.sh</a>
        </head>
        <blockquote>
        {{ post.content | truncatewords: 12 | replace: '\n', ' ' }}
        </blockquote>
    </section>
    {% endfor %}
    <section>
        {% if paginator.previous_page != nil %}
        <a href="{{paginator.previous_page}}">--Back--</a>
        {% endif %}
        {% if paginator.previous_page != nil %}
        <a href="{{paginator.next_page}}">--More--</a>
        {% endif %}
    </section>
</main>
