<!DOCTYPE html>

<html lang="en">
 {% include head.html %}
 <body class="bg-dark">
 <div class="container" >


     {% include header.html %}
     {% include navigation.html %}
     <div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="desterhuizen"><a class="LI-simple-link" href='https://uk.linkedin.com/in/desterhuizen?trk=profile-badge'>Dawid Esterhuizen</a></div>
     {{ content }}
 </div>
 {%include footer.html %}
 <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
 </body>
</html>
